In [5]:
import pandas as pd
import glob

In [13]:
path='C:/Users/Lohit/Desktop/krr/GroupA/raw data/'  # folder path
all_files=glob.glob(path+"/*.csv")    #extracting all the csv files fromt the folder
all_files

['C:/Users/Lohit/Desktop/krr/GroupA/raw data\\CS402CompilerConstructionSectionBCS9A.csv',
 'C:/Users/Lohit/Desktop/krr/GroupA/raw data\\CS4050 - Information Systems Audit and Control Section BCS-7A.csv',
 'C:/Users/Lohit/Desktop/krr/GroupA/raw data\\CS4057 - Agile Software Project Management Section BCS-8B.csv',
 'C:/Users/Lohit/Desktop/krr/GroupA/raw data\\CS494 - IS Audit and Control Section BCS-7A.csv',
 'C:/Users/Lohit/Desktop/krr/GroupA/raw data\\CS5031 - Applied Computer Vision Section MCS-2A.csv',
 'C:/Users/Lohit/Desktop/krr/GroupA/raw data\\CS5047 - Software Processes and Quality Assurance Section MSP-3A.csv',
 'C:/Users/Lohit/Desktop/krr/GroupA/raw data\\CS518 - Software Quality Assurance Section MSP-1A.csv',
 'C:/Users/Lohit/Desktop/krr/GroupA/raw data\\CS535 - Natural Language Processing Section MDS-1A.csv',
 'C:/Users/Lohit/Desktop/krr/GroupA/raw data\\CS570 - Advance Data Warehousing and Data Mining Section MSP-2A.csv',
 'C:/Users/Lohit/Desktop/krr/GroupA/raw data\\CS6003 - Advanced Topics in NLP Section PCS-1A.csv',
 'C:/Users/Lohit/Desktop/krr/GroupA/raw data\\MG5041 - Entrepreneurship and Innovation Section MSP-2A.csv',
 'C:/Users/Lohit/Desktop/krr/GroupA/raw data\\SE4031+-+Design+Defects+and+Restructuring+Section+BCS-7A.csv']

In [14]:
data=pd.read_csv(all_files[0]) #extracting 1st file data 
data.head(10) # visualizing the data

,Unnamed: 0,"NUCES, KHI",Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,Student Course Evaluation Analysis Report,NaN,NaN,NaN,Spring 2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CS402 - Compiler Construction Section:BCS-9A,NaN,NaN,NaN,Date: 28-Nov-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Instructor:,Sayed Yousuf,Registered Students:,43,Received Feedbacks:,39.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"4=Strongly Agree, 3=Agree, 2=Uncertain, 1=Dis...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,CGPA Range:,NaN,3.00 - 4.00,NaN,NaN,NaN,NaN,2.00 - 2.99,NaN,NaN,NaN,NaN,0.00 - 1.99,NaN,NaN,NaN,NaN,NaN,NaN
5,Question,NaN,4 3 2 1 0,NaN,NaN,NaN,NaN,4 3 2 1 0,NaN,NaN,NaN,NaN,4 3 2 1 0,NaN,NaN,NaN,NaN,Wt.,Avg.,Prod
6,Course Content and organization,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1 The course objective was clear,NaN,10,11,1,0.0,2.0,4,6,2.0,1.0,2.0,0,0,0.0,0,0.0,0,2.92,0
8,2 The course workload was manageable,NaN,12,8,2,1.0,1.0,5,5,2.0,2.0,1.0,0,0,0.0,0,0.0,1,3.03,3.03
9,3 The course was well organized ( e.g. timely ...,NaN,10,9,3,1.0,1.0,4,6,3.0,1.0,1.0,0,0,0.0,0,0.0,1,2.95,2.95

In [15]:
course=data.iloc[1,0] # extracting the course code 
print(course)
print(course[:course.find("-")])
teacher=data.iloc[2,1]  # extracting the teacher name
teacher

CS402 - Compiler Construction     Section:BCS-9A
CS402

'Sayed Yousuf'

In [16]:
data.head(10)

,Unnamed: 0,"NUCES, KHI",Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,Student Course Evaluation Analysis Report,NaN,NaN,NaN,Spring 2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CS402 - Compiler Construction Section:BCS-9A,NaN,NaN,NaN,Date: 28-Nov-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Instructor:,Sayed Yousuf,Registered Students:,43,Received Feedbacks:,39.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"4=Strongly Agree, 3=Agree, 2=Uncertain, 1=Dis...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,CGPA Range:,NaN,3.00 - 4.00,NaN,NaN,NaN,NaN,2.00 - 2.99,NaN,NaN,NaN,NaN,0.00 - 1.99,NaN,NaN,NaN,NaN,NaN,NaN
5,Question,NaN,4 3 2 1 0,NaN,NaN,NaN,NaN,4 3 2 1 0,NaN,NaN,NaN,NaN,4 3 2 1 0,NaN,NaN,NaN,NaN,Wt.,Avg.,Prod
6,Course Content and organization,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1 The course objective was clear,NaN,10,11,1,0.0,2.0,4,6,2.0,1.0,2.0,0,0,0.0,0,0.0,0,2.92,0
8,2 The course workload was manageable,NaN,12,8,2,1.0,1.0,5,5,2.0,2.0,1.0,0,0,0.0,0,0.0,1,3.03,3.03
9,3 The course was well organized ( e.g. timely ...,NaN,10,9,3,1.0,1.0,4,6,3.0,1.0,1.0,0,0,0.0,0,0.0,1,2.95,2.95

In [17]:
data=data.iloc[6:,17:] # extracting columns----> wt,avg,prod
data

   Unnamed: 17 Unnamed: 18 Unnamed: 19
6          NaN         NaN         NaN
7            0        2.92           0
8            1        3.03        3.03
9            1        2.95        2.95
10         NaN         NaN         NaN
..         ...         ...         ...
62       69.38           %         NaN
63         NaN         NaN         NaN
64         NaN         NaN         NaN
65         NaN         NaN         NaN
66         NaN         NaN         NaN

[61 rows x 3 columns]

In [18]:
data=data.dropna() # removing the rows that contains Nan values
data=data.reset_index(drop=True)  # reset index
data

   Unnamed: 17 Unnamed: 18 Unnamed: 19
0            0        2.92           0
1            1        3.03        3.03
2            1        2.95        2.95
3            1        3.18        3.18
4            1        3.21        3.21
5            1        3.08        3.08
6            0        3.08           0
7            1        3.18        3.18
8            1        3.23        3.23
9            1        3.23        3.23
10           1        3.15        3.15
11           1        3.21        3.21
12           1        2.95        2.95
13           0        3.08           0
14           1        3.26        3.26
15           1        3.23        3.23
16           0        3.13           0
17           0        3.05           0
18           1         3.1         3.1
19           1        3.13        3.13
20           1        3.15        3.15
21           0        3.13           0
22           0        3.05           0
23           0           3           0
24           0        2.97           0
25           1        3.05        3.05
26           1        3.03        3.03
27           1        3.13        3.13
28           0        3.03           0
29           1        3.38        3.38
30           1        3.23        3.23
31           1        3.31        3.31
32           0        3.13           0
33           0        3.18           0
34           0        3.23           0

In [20]:
df=pd.read_csv(r'C:\Users\Lohit\Desktop\krr\feedback.csv') 
df=df.iloc[:,2:4] #Selecting perfect format for questions with respect to their type
df

,Type,Question
0,Course Content and organization,The course objective was clear
1,Course Content and organization,The course workload was manageable
2,Course Content and organization,The course was well organized ( e.g. timely ac...
3,Teacher Evaluation,The instructor is prepared for each class
4,Teacher Evaluation,The instructor demonstrates knowledge of the s...
5,Teacher Evaluation,The instructor has completed the whole course
6,Teacher Evaluation,The instructor provides additional material ap...
7,Teacher Evaluation,The instructor communicates the subject matter...
8,Teacher Evaluation,The instructor shows respect towards students ...
9,Teacher Evaluation,The instructor arrived on time
10,Teacher Evaluation,The instructor lefton time
11,Teacher Evaluation,The instructor is fair in examination
12,Teacher Evaluation,The instructor returned the graded scripts etc...
13,Teacher Evaluation,The instructor was available during the specif...
14,Teacher Evaluation,The subject matter presented in the course has...
15,Teacher Evaluation,The assignments and exams covered the material...
16,Teacher Evaluation,The course Material is modern and updated
17,Student Contribution,Did you actively participated in this course
18,Student Contribution,Did you learn from this course
19,Learning Environment and Teaching methods,Was this course well structured to achieve the...
20,Learning Environment and Teaching methods,Did the learning and teaching methods encourag...
21,Learning Environment and Teaching methods,Was classroom environment conducive to learning?
22,Learning Environment and Teaching methods,Were classrooms satisfactory?
23,Learning Resources,Recommended reading books etc. were relevant a...
24,Learning Resources,Provision of learning resources in the library...
25,Quality of Delivery,The course stimulated my interest and thought ...
26,Quality of Delivery,Pace of the course was appropriate
27,Quality of Delivery,Ideas and concepts were presented clearly
28,Instructor/TA evaluation,I understood the lectures
29,Instructor/TA evaluation,The material was well organized and presented
30,Instructor/TA evaluation,The instructor was responsive to student needs...
31,Instructor/TA evaluation,Had the instructor been regular throughout the...
32,Tutorial,The material in the tutorials was useful
33,Tutorial,I was happy with the amount of work needed for...
34,Tutorial,The tutor dealt effectively with my problems

In [21]:
# forming the list of values for dataframes
Teacher=[teacher for _ in range(len(data.axes[0]))] 
Course=[course for _ in range(len(data.axes[0]))]
typee=list(df.iloc[:len(data.axes[0]),0].values)
question=list(df.iloc[:len(data.axes[0]),1].values)
wt=list(data.iloc[:,0].values)
avg=list(data.iloc[:,1].values)
prod=list(data.iloc[:,2].values)

print(Teacher)
print(len(Course))
print(len(typee))
print(len(question))
print(len(wt))
print(len(avg))
print(len(prod))

['Sayed Yousuf', 'Sayed Yousuf', 'Sayed Yousuf', 'Sayed Yousuf', 'Sayed Yousuf', 'Sayed Yousuf', 'Sayed Yousuf', 'Sayed Yousuf', 'Sayed Yousuf', 'Sayed Yousuf', 'Sayed Yousuf', 'Sayed Yousuf', 'Sayed Yousuf', 'Sayed Yousuf', 'Sayed Yousuf', 'Sayed Yousuf', 'Sayed Yousuf', 'Sayed Yousuf', 'Sayed Yousuf', 'Sayed Yousuf', 'Sayed Yousuf', 'Sayed Yousuf', 'Sayed Yousuf', 'Sayed Yousuf', 'Sayed Yousuf', 'Sayed Yousuf', 'Sayed Yousuf', 'Sayed Yousuf', 'Sayed Yousuf', 'Sayed Yousuf', 'Sayed Yousuf', 'Sayed Yousuf', 'Sayed Yousuf', 'Sayed Yousuf', 'Sayed Yousuf']
35
35
35
35
35
35

In [22]:
# forming data frame and append to the the file
df=pd.DataFrame({'Teacher':Teacher,'Course':Course ,'2':typee,'3':question,'4':wt,'5':avg,'6':prod })
df.to_csv(r'C:\Users\Lohit\Desktop\krr\feedback.csv',mode='a',index=False,header=False)